{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h1  class="text-center" style="color: green;" >{{title}}</h1>
<h6 class="text-right text-muted">- Forests for everything</h6>
<br/>
<p class="lead">There are many important raw materials that are obtained only from Forests, which are required for producing the products that are part and parcel of human life. Procurement of
    these materials entails the support not only of suppliers in
    , but also the communities and
    government authorities of local production areas. Taking
    into consideration relationships with the environment and
    society, Our forest management system, recognizes the importance
    of working closely with suppliers to establish a sustainable
    supply chain that incorporates production area forest
    ecosystem, local community, occupational safety and
    health as well as other concerns.
    Accordingly, we have built and implemented a structure
    and framework that will allow us to sustainably procure
    renewable wood resources and many vital forest raw materials.</p>

{% endblock %}