{% load crispy_forms_tags %}
{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img src="{% static 'img/favicon.png' %}" alt="Forest Management" style="width:25px;height:25px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/list">Products</a>
        </li>
        {% if user.is_staff%}
        <li class="nav-item">
          <a class="nav-link" href="/list_orders_staff">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_staff_contract' %}">Contract</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_orders' user%} ">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_contracts' user%} ">Contract</a>
        </li>
        {% endif %}
        {% endif %}
      </ul>
      {% if okay %}
      <form class="form-inline mt-2 mt-md-0" method='POST' action=''>
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" value='Search'>Search</button>
      </form>
      {% endif %}
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li>&nbsp;&nbsp;<a href="/accounts/logout">{{ user }} | Logout</a></li>
        {% else %}
        <li><a class="nav-link" href="/accounts/login">Login</a></li>
        {% endif %}
    </ul>

    </div>
  </nav>
  